---

import { footerItems } from "@/data/footerItems";

const anchorClass = "border-b border-slate-600 hover:border-slate-400 hover:text-slate-400 transition-colors duration-200";

---

<footer class="bg-footer">
    <div class="max-w-3xl m-auto flex flex-col gap-y-2 pt-4 pb-8">
        <div class="flex justify-between items-center">
            <ul class="flex gap-x-3 items-center">
                {footerItems.map(({label, href}) => (
                    <li>
                        <a
                            aria-label={`Seguir enlace hacia ${label}`}
                            href={href}
                            class="text-xs font-semibold text-slate-400"
                        >
                            {label}
                        </a>
                    </li>
                ))}
            </ul>
        </div>
    
        <p class="text-[9.5px] text-slate-500">© Letterboxd Limited. Made by 
            <a 
                aria-label="Seguir enlace hacia Letterboxd Crew"
                href="https://letterboxd.com/crew/" 
                class={anchorClass}
                rel="noreferrer noopener"
                target="_blank"
            >
                fans
            </a> 
            in Aotearoa New Zealand. 
            <a 
                aria-label="Seguir enlace hacia Film data"
                href="https://letterboxd.com/about/film-data/" 
                class={anchorClass} 
                rel="noreferrer noopener" 
                target="_blank"
            >
                Film data
            </a> 
            from 
            <a 
                aria-label="Seguir enlace hacia TMDB"
                href="https://www.themoviedb.org/" 
                class={anchorClass}
                rel="noreferrer noopener"
                target="_blank"
            >
            TMDB
            </a>. 
        </p>
    </div>
</footer>